.loginForm {
  margin-top: 150px;
  /*login-page*/
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */ }
/*==========================================================================*/
.container1 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox/radiobutton */
.checkmark-round {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(148, 140, 134);
  border-radius: 50%;
}
.checkmark-tick {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: rgb(148, 140, 134);
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark-tick, .container1:hover input ~ .checkmark-round {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark-tick,  .container1 input:checked ~ .checkmark-round{
  background-color: rgb(73, 243, 6);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-tick:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark-round:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark-tick:after, .container input:checked ~ .checkmark-round:after{
  display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark-tick:after {
  left: 10px;
  top: 3px;
  width: 10px;
  height: 20px;
  border: 3px solid white;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container1 .checkmark-round:after {
  top: 9px;
 left: 9px;
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background: white;
}
/*==========================================================================*/
.div-vert-center{
  position: absolute;
  left: 5%;
  top: 25%;
  width: 90%;
}
.div-disable{
  pointer-events: none;
  opacity: 0.4;
}
/*==========================================================================*/
.loginForm .save:disabled {
    background: grey; }

.loginForm body {
    font-family: 'Roboto', sans-serif;
    color: #878787;
    background: #f8f9fb; }
  .loginForm .login-container {
    padding: 0 5%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    height: 100%;
    width: 30%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%); }
  .loginForm .loginForm {
    position: relative;
    top: 20%; }
  .loginForm .loginForm h2 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #4f4f51;
    position: relative; }
  .loginForm .loginForm h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    border: none;
    border-bottom: 3px solid #ccc; }
  .loginForm .loginForm form {
    margin: 50px 0; }
  .loginForm .group {
    position: relative;
    margin-bottom: 35px;
    margin-top: 15px; }
  .loginForm .inputMaterial {
    font-size: 15px;
    padding: 5px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    color: #6d6f70; }
  .loginForm .inputMaterial:focus {
    outline: none; }
  .loginForm .validation-msg {
    display: block;
    width: 100%;
    color: red;
    font-size: 11px;
    margin: 5px 0;
    visibility: hidden; }
  .loginForm .validation-summary-errors li {
    color: red; }
  .loginForm .group label {
    color: #999;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    cursor: text;
    z-index: -1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .loginForm .inputMaterial:focus ~ label, .loginForm .inputMaterial:valid ~ label {
    top: -20px;
    font-size: 16px;
    color: #458ec1; }
  .loginForm .bar {
    position: relative;
    display: block;
    width: 100%; }
  .loginForm .bar:before, .loginForm .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #458ec1;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .loginForm .inputMaterial:focus ~ .bar:before, .loginForm .inputMaterial:focus ~ .bar:after {
    width: 100%; }
  .loginForm .form-footer {
    margin: 70px 0; }
  .loginForm .help {
    color: #0d93c4;
    font-size: 12px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    float: left;
    cursor: pointer; }
  .loginForm .help:hover {
    color: #f79b38; }
  .loginForm .log-in-btn {
    float: right;
    margin-right: 20px;
    margin-top: -10px;
    transition: all 300ms ease-in-out; }

body {
  background: #524f4f; }

p {
  font-style: italic;
  font-weight: 600;
  color: #000; }

h2 {
  text-decoration: underline;
  font-weight: 700; }

.btn {
  font-size: 14px;
  margin: 0;
  color: #fff;
  background: #EB8820;
  padding: 10px 30px;
  border-radius: 3px;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  cursor: pointer; }
  .btn:hover {
    background: #f79b38;
    color: #fff; }

label {
  font-weight: 600;
  color: #000; }

.container-bg {
  background: #ffffff;
  padding: 20px 66px;
  max-width: 970px;
  width: 100% !important;
  position: absolute;
  overflow-x: hidden;
  left: 50%;
  transform: translateX(-50%);
  height: 100%; }

.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

header .col-sm-10 p {
  text-align: justify;
  font-style: italic;
  font-weight: 500;
  line-height: 1.3em; }

.form-inline {
  margin: 0 0 10px 0;
  border: 1px solid blue;
  padding: 10px;
  background: #efefdc69; }

.renderForm {
  margin: 0 0 10px 0;
  border: 1px solid blue;
  padding: 10px;
  background: #efefdc69; }
  .renderForm .form-control {
    margin-left: 10px;
    width: 200px;
    display: inline-block; }
    .renderForm .form-control.form-control-margin {
      margin-right: 10px; }
  .renderForm .otherKey {
    font-size: 4.2rem;
    vertical-align: top;
    width: 100%;
    height: auto; }
  .renderForm .m-top {
    margin-top: 8px; }
  .renderForm .m-left {
    margin-left: 25px; }

.h3text {
  font-size: 14px;
  font-style: italic; }

.projectNAme .form-control {
  width: 100%;
  margin: 0;
  display: block; }

.projectScope,
.fileSizeForm,
.Project-Details,
.camera-angel,
.context,
.add-comments,
.bdx-contact,
.landscaping-style,
.bdxOnly {
  margin: 0 0 10px 0;
  border: 1px solid blue;
  padding: 10px;
  background: #efefdc69; }
  .projectScope .leftSidebar label,
  .fileSizeForm .leftSidebar label,
  .Project-Details .leftSidebar label,
  .camera-angel .leftSidebar label,
  .context .leftSidebar label,
  .add-comments .leftSidebar label,
  .bdx-contact .leftSidebar label,
  .landscaping-style .leftSidebar label,
  .bdxOnly .leftSidebar label {
    padding-left: 0; }
    .projectScope .leftSidebar label input,
    .fileSizeForm .leftSidebar label input,
    .Project-Details .leftSidebar label input,
    .camera-angel .leftSidebar label input,
    .context .leftSidebar label input,
    .add-comments .leftSidebar label input,
    .bdx-contact .leftSidebar label input,
    .landscaping-style .leftSidebar label input,
    .bdxOnly .leftSidebar label input {
      margin-left: 10px; }
  .projectScope .leftSidebar h5,
  .fileSizeForm .leftSidebar h5,
  .Project-Details .leftSidebar h5,
  .camera-angel .leftSidebar h5,
  .context .leftSidebar h5,
  .add-comments .leftSidebar h5,
  .bdx-contact .leftSidebar h5,
  .landscaping-style .leftSidebar h5,
  .bdxOnly .leftSidebar h5 {
    margin: 0;
    line-height: 1.3;
    display: inline-block; }
  .projectScope .leftSidebar p,
  .fileSizeForm .leftSidebar p,
  .Project-Details .leftSidebar p,
  .camera-angel .leftSidebar p,
  .context .leftSidebar p,
  .add-comments .leftSidebar p,
  .bdx-contact .leftSidebar p,
  .landscaping-style .leftSidebar p,
  .bdxOnly .leftSidebar p {
    margin: 0;
    line-height: 1.1;
    font-size: 14px; }
  .projectScope .leftSidebar textarea,
  .fileSizeForm .leftSidebar textarea,
  .Project-Details .leftSidebar textarea,
  .camera-angel .leftSidebar textarea,
  .context .leftSidebar textarea,
  .add-comments .leftSidebar textarea,
  .bdx-contact .leftSidebar textarea,
  .landscaping-style .leftSidebar textarea,
  .bdxOnly .leftSidebar textarea {
    margin-top: 10px; }
  .projectScope .leftSidebar .form-check,
  .fileSizeForm .leftSidebar .form-check,
  .Project-Details .leftSidebar .form-check,
  .camera-angel .leftSidebar .form-check,
  .context .leftSidebar .form-check,
  .add-comments .leftSidebar .form-check,
  .bdx-contact .leftSidebar .form-check,
  .landscaping-style .leftSidebar .form-check,
  .bdxOnly .leftSidebar .form-check {
    display: inline-block; }
  .projectScope .rightSidebar,
  .fileSizeForm .rightSidebar,
  .Project-Details .rightSidebar,
  .camera-angel .rightSidebar,
  .context .rightSidebar,
  .add-comments .rightSidebar,
  .bdx-contact .rightSidebar,
  .landscaping-style .rightSidebar,
  .bdxOnly .rightSidebar {
    padding-right: 0 !important; }
    .projectScope .rightSidebar h5,
    .fileSizeForm .rightSidebar h5,
    .Project-Details .rightSidebar h5,
    .camera-angel .rightSidebar h5,
    .context .rightSidebar h5,
    .add-comments .rightSidebar h5,
    .bdx-contact .rightSidebar h5,
    .landscaping-style .rightSidebar h5,
    .bdxOnly .rightSidebar h5 {
      margin: 20px 0 10px 0 !important; }
    .projectScope .rightSidebar .p-l,
    .fileSizeForm .rightSidebar .p-l,
    .Project-Details .rightSidebar .p-l,
    .camera-angel .rightSidebar .p-l,
    .context .rightSidebar .p-l,
    .add-comments .rightSidebar .p-l,
    .bdx-contact .rightSidebar .p-l,
    .landscaping-style .rightSidebar .p-l,
    .bdxOnly .rightSidebar .p-l {
      padding-left: 15px !important; }
    .projectScope .rightSidebar .radio,
    .fileSizeForm .rightSidebar .radio,
    .Project-Details .rightSidebar .radio,
    .camera-angel .rightSidebar .radio,
    .context .rightSidebar .radio,
    .add-comments .rightSidebar .radio,
    .bdx-contact .rightSidebar .radio,
    .landscaping-style .rightSidebar .radio,
    .bdxOnly .rightSidebar .radio {
      margin: 5px 0 10px 0; }
      .projectScope .rightSidebar .radio label,
      .fileSizeForm .rightSidebar .radio label,
      .Project-Details .rightSidebar .radio label,
      .camera-angel .rightSidebar .radio label,
      .context .rightSidebar .radio label,
      .add-comments .rightSidebar .radio label,
      .bdx-contact .rightSidebar .radio label,
      .landscaping-style .rightSidebar .radio label,
      .bdxOnly .rightSidebar .radio label {
        margin: 0; }
        .projectScope .rightSidebar .radio label input,
        .fileSizeForm .rightSidebar .radio label input,
        .Project-Details .rightSidebar .radio label input,
        .camera-angel .rightSidebar .radio label input,
        .context .rightSidebar .radio label input,
        .add-comments .rightSidebar .radio label input,
        .bdx-contact .rightSidebar .radio label input,
        .landscaping-style .rightSidebar .radio label input,
        .bdxOnly .rightSidebar .radio label input {
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle; }

.no-padding {
  padding: 0 !important; }

#newRenderForm .m-top {
  margin-top: 10px; }

#newRenderForm .form-control {
  display: inline-block;
  width: 80%; }

#projectName, #projectScope, .rightSidebar, #newRenderForm, #textareaScope {
  display: none;
  position: relative;
  right: -100%; }

#projectNamebtn, #projectScopebtn, #textareabtn {
  display: none; }

#comment{
  width:100%;
}
.comment{
  width: 100%;
}

.setting-image {
  /* project details*/
  /* CAMERA ANGLE   */
  /* context */ }
  .setting-image input[type=radio] {
    position: static; }
  .setting-image .heading h2 {
    border-bottom: 2px solid black;
    text-decoration: none;
    padding: 5px 15px;
    width: 85%;
    display: inline-block; }
  .setting-image .heading p {
    line-height: 1.3;
    font-size: 15px; }
  .setting-image h4,
  .setting-image h5,
  .setting-image .radio {
    display: inline-block;
    font-weight: 600;
    margin: 3px 0; }
    .setting-image h4 input,
    .setting-image h5 input,
    .setting-image .radio input {
      margin: 0 15px; }
    .setting-image h4 label,
    .setting-image h5 label,
    .setting-image .radio label {
      padding-left: 0; }
  .setting-image .m-top {
    margin-top: 10px; }
  .setting-image form h4 {
    display: inline-block;
    margin-left: 10px; }
  .setting-image .fileSizeForm {
    display: block;
    width: 100%;
    overflow: hidden; }
    .setting-image .fileSizeForm .col-sm-6 {
      float: left;
      width: 50%; }
    .setting-image .fileSizeForm .col-sm-12 {
      width: 100%;
      float: left; }
    .setting-image .fileSizeForm .form-control {
      display: inline-block;
      width: 78%;
      margin-left: 10px; }
    .setting-image .fileSizeForm h5,
    .setting-image .fileSizeForm label {
      margin-bottom: 0; }
    .setting-image .fileSizeForm .m-left {
      margin-left: 63px; }
  .setting-image .Project-Details {
    padding: 5px; }
    .setting-image .Project-Details .elevations {
      margin: 0; }
    .setting-image .Project-Details .heading p {
      line-height: 1.1; }
    .setting-image .Project-Details .projectdetailsForm label {
      width: 26%; }
    .setting-image .Project-Details .projectdetailsForm .form-control {
      display: inline-block;
      width: 70%;
      margin-left: 10px; }
    .setting-image .Project-Details .projectdetailsForm.rightsideform {
      padding-left: 20px !important; }
      .setting-image .Project-Details .projectdetailsForm.rightsideform .other label {
        vertical-align: top; }
      .setting-image .Project-Details .projectdetailsForm.rightsideform .other textarea {
        width: 69%;
        margin-left: 13px; }
    .setting-image .Project-Details .Hardscape,
    .setting-image .Project-Details .windows,
    .setting-image .Project-Details .duskoptions {
      margin: 10px 0; }
      .setting-image .Project-Details .Hardscape label,
      .setting-image .Project-Details .windows label,
      .setting-image .Project-Details .duskoptions label {
        margin-bottom: 0; }
        .setting-image .Project-Details .Hardscape label input[type="radio"],
        .setting-image .Project-Details .windows label input[type="radio"],
        .setting-image .Project-Details .duskoptions label input[type="radio"] {
          margin: 0 10px 0 0; }
      .setting-image .Project-Details .Hardscape .col-sm-4,
      .setting-image .Project-Details .Hardscape .col-sm-3,
      .setting-image .Project-Details .windows .col-sm-4,
      .setting-image .Project-Details .windows .col-sm-3,
      .setting-image .Project-Details .duskoptions .col-sm-4,
      .setting-image .Project-Details .duskoptions .col-sm-3 {
        padding: 0 5px; }
  .setting-image .camera-angel input,
  .setting-image .context input,
  .setting-image .landscaping-style input,
  .setting-image .bdxOnly input {
    margin: 0 15px 0 0; }
  .setting-image .camera-angel label,
  .setting-image .context label,
  .setting-image .landscaping-style label,
  .setting-image .bdxOnly label {
    margin: 0; }
  .setting-image .camera-angel p,
  .setting-image .context p,
  .setting-image .landscaping-style p,
  .setting-image .bdxOnly p {
    line-height: 1.1;
    margin-left: 30px;
    font-size: 12px; }
  .setting-image .camera-angel {
    padding: 5px; }
    .setting-image .camera-angel .col-sm-4,
    .setting-image .camera-angel .col-sm-3,
    .setting-image .camera-angel .col-sm-6 {
      padding: 0 5px; }
    .setting-image .camera-angel .camera {
      width: 50%;
      float: left; }
    .setting-image .camera-angel .bdx-camera {
      padding: 0 15px;
      width: 50%;
      float: right; }
      .setting-image .camera-angel .bdx-camera h5 {
        margin: 0; }
  .setting-image .context {
    padding: 5px; }
    .setting-image .context p {
      padding: 0 5px;
      margin-left: 0;
      font-size: 15px; }
    .setting-image .context .col-sm-4 {
      padding: 0 5px; }
  .setting-image .add-comments p {
    line-height: 1.2;
    font-size: 15px; }
  .setting-image .add-comments textarea {
    width: 100%; }
  .setting-image .bdx-contact .form-control {
    width: 73%;
    margin-left: 10px;
    display: inline-block; }
  .setting-image .landscaping-style .col-sm-12 p {
    font-size: 15px;
    margin: 0 0 10px 0; }
  .setting-image .landscaping-style .col-sm-6 {
    padding: 0 10px; }
    .setting-image .landscaping-style .col-sm-6 p {
      margin: 0 0 0 30px; }
  .setting-image .bdxOnly {
    margin: 0; }
    .setting-image .bdxOnly .checkbox {
      margin: 5px 0; }
      .setting-image .bdxOnly .checkbox input {
        vertical-align: middle; }
        .setting-image .bdxOnly .checkbox input[type=checkbox] {
          position: static; }
