@media screen and (min-width: 768px) and (max-width: 1380px){
.page_3_content .padding_none {
    position: relative;
    top: 0; 
}
.page_3_content .padding_top {
    position: relative;
    top: 3px; 
}
/*********************************** Yellow Image styles >*/
h3.select img {
    width: 30%;
    font-weight: 300;
    position: absolute;
    left: 105px;
    top: 60px;
    z-index: 1;
}
.room_size .top_text p {
    font-size: 12px;
    position: absolute;
    top: 15%;
    left: 40%;
    padding-right: 35px;
    letter-spacing: 2px;
    line-height: 2.0;
    transform: scale(1, .8);
    color: #a7a7a7;
}
/*********************************** < Yellow Image styles */
.padding_top h3.select .notice {
    bottom: 40px;
    left: 360px;
}
.av_system_bronze .dl-horizontal dt, .av_system_bronze .dl-horizontal dd {
    letter-spacing: 0.5px;
    line-height: 17px;
    margin-bottom: 8px;
    font-size: 13px;
}
.head_line h2 {
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;
}
.select_option .checkbox ul li {
    padding: 3px;
}
.select_option .checkbox ul > label {
    padding: 3px;
}
.c_head {
    background: #eae837;
    padding: 1px;
    padding-left: 13px;
    font-size: 16px;
}
.customer_form form input {
    padding: 2px;
}
.wrapper .create_text {
    max-width: 400px;
    background: rgba(1, 59, 71, 0.5);
    max-height: 400px;
    border-radius: 50%;
    position: absolute;
    right: 18%;
    bottom: 75px;
    z-index: 9;
}
.wrapper .create_text p {
    padding: 75px 54px;
    font-size: 30px;
    text-align: center;
    color: #eae837;
    letter-spacing: 15px;
    line-height: 2;
}
.design_theme_image{
    width: 100%;
}
.image {
    width: 90%;
}
.image h4 {
    color: #fffc00;
    background: #17343c;
    padding: 5px 0px;
    text-align: center;
    font-size: 11px;
}
.design_theme_image h4 {
    color: rgb(252, 240, 240);
    background: #205b66;
    padding: 6px 6px;
    text-align: center;
    font-size: 13px;
    font-family: 'Effra-Regular';
    margin-bottom: 0;
    margin-top: 20px;
}
.selected_chair {
    background: rgba(21, 189, 255, 0.405);
}
.disabled {
    pointer-events: none;
    cursor: progress;
}
.avsystem-margin-bottom .row{
    margin-bottom: 10px;
}
}
@media screen and (min-width: 768px){
    .flex_class {
        display: flex;
        width: 100%;
     }
    .tamplate {
        flex: 1;
        margin: 15px 20px;
    }
}