@font-face {
    font-family: 'Effra-Regular';
    src: url('../fonts/_Effra-Regular.eot');
    src :   url('../fonts/_Effra-Regular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/_Effra-Regular.woff') format('woff'),
            url('../fonts/_Effra-Light.ttf') format('truetype'),
            url('../fonts/_Effra-Regular.svg#svgFontName') format('svg');
}
*{
	margin: 0;
	padding: 0;
}
p{
	margin: 0 !important;
}
html, body{
	width: 100%;
	height: 100%;
    font-weight:normal;
    font-style:normal;
}
.wrapper1{
	position: relative;
	height: 100vh;
	background-image: url(../images/extracted1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 95%;
}
.wrapper1 .top_strip {
    padding: 48px 0;
    background: #004351;
    width: 100%;
    margin: auto;
}
.wrapper .create_text {
    max-width: 500px;
    background: rgba(1, 59, 71, 0.5);
    max-height: 500px;
    border-radius: 50%;
    position: absolute;
    right: 18%;
    bottom: 80px;
    z-index: 9;
}
.wrapper .create_text p {
    padding: 120px 84px;
    font-size: 30px;
    transform: scale(1, .9);
    text-align: center;
    color: #eae837;
    letter-spacing: 10px;
    line-height: 2;
}
.wrapper1 .bottom_strip {
    padding: 30px 0;
    background: #004351;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index:10;
}
.wrapper1 .bottom_strip .bottom_strip_content p {
    color: #eae837;
    font-size: 1vw;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    transform: scale(1, .85);
}
.bottom_strip_content span {
    width: 50px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.bottom_strip_content span img{
	width: 25px;
}
/*
Index 1 Style
*/
.wrapper2 {
    position: relative;
    background-image: url(../images/extracted2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
}
.wrapper_page_2{
	position: relative;
	overflow: hidden;
	height: 100vh
}
.wrapper2 .bottom_strips {
    padding: 80px 0;
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.bottom_strips .bottom_strip_left span img, .bottom_strips .bottom_strip_top span img{
	width: 25px;
}
.bottom_strips .bottom_strip_left span {
    width: 50px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.bottom_strips .bottom_strip_top span {
    width: 30px;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.bottom_strips .bottom_strip_top .text {
    width: 160px;
    position: absolute;
    left: 100%;
    top: 50%;
    letter-spacing: 1px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #eae837;
}
/************************************ Size page styles >*/
.wrapper_page_3 {
    position: relative;
    height: 100vh; 
    background-image: url(../images/extracted3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.page_3_content{
	height: 100vh;
}
.page_3_content .padding_top {
    position: relative;
    top: 5%;
}
/************************************ < Size page styles */
/* **************************************************************************************************** */
/* **************************************************************************************************** */
/************************************ Introduction page styles >*/
.logo_image {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/rayva_logo_yellow.png);
    width: 60%;
    height: 110px;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
 }
.logo_text{
     font-size: 18px;
     color: rgb(201, 192, 192);
     text-align: center;
     letter-spacing: 3px;
     transform : scale(1, .8);
 }
.wrapper_page_2 .intro_text{
    margin : auto auto;
    height: 340px;
    width:340px;
    background: rgba(255, 246, 193, 0.158);
    border-radius: 50%;
}
.wrapper_page_2 .intro_text .content{
    padding: 0 25px;
    text-align: center;
    position: relative;
    top: 20%;
}
.wrapper_page_2 .intro_text .content h2 {
    font-size: 25px;
    color: #017c8a;
    letter-spacing: 11px;
    text-shadow: 14px 13px 18px #24221e;
    transform: scale(1, .9);
    line-height: 1.5;
}
.wrapper_page_2 .intro_text .content p {
    color: #c8c2c2;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
/************************************ < Introduction page styles */
/* **************************************************************************************************** */
/* **************************************************************************************************** */
/************************************ Yellow Image styles >*/
h2.select {
    font-weight: 300;
    position: absolute;
    left: -1%;
    bottom: 10%;
    font-size: 6vw;
    letter-spacing: 20px;
    z-index: 3;
    color: rgba(77, 77, 77, 0.5);
}
h3.select img {   
    /*no use*/
    width: 30%;
    font-weight: 300;
    position: absolute;
    left: 130px;
    top: 60px;
    z-index: 1;
}
.room_size .bottom_text {
    box-sizing: border-box;
    padding: 50px 0;
}
.room_size .bottom_text h2 {
    font-size: 3.5vw;
    font-weight: 300;
    letter-spacing: 12px;
    z-index: 2;
    color: #0a9dad;
    top: -20px;
    position: relative;
    text-shadow: 10px 10px 30px black;
}
.room_size .top_text {
	position: relative;
    height: 320px;
    width: 320px;
    background-color: rgba(1, 59, 71, 0.5);
    border-radius: 50%;
    font-family: sans-serif;
}
.room_size .top_text p {
    font-size: 12px;
    position: absolute;
    top: 15%;
    left: 40%;
    padding-right: 35px;
    letter-spacing: 2px;
    line-height: 2.0;
    transform: scale(1, .8);
    color: #a7a7a7;
}
/************************************ < Yellow Image styles */
/* **************************************************************************************************** */
/* **************************************************************************************************** */
.selected_chair {
    background: rgba(21, 189, 255, 0.405);
}
.disabled {
    pointer-events: none;
    cursor: progress;
}
.select_div {
    position: absolute;
    color: #fffc00;
    font-size: 17px;
    bottom: -11px;
    left: 0;
    background: #1e4854;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    padding: 27px 18px;
    border-radius: 50%;
    font-family: sans-serif;
    cursor : pointer;
}
.image h4 {
    color: #fffc00;
    background: #17343c;
    padding: 5px 8px;
    text-align: center;
    font-size: 12px;
}
.newheading {
    color: #fffc00;
    background: #17343c;
    padding: 2px 8px;
    text-align: center;
    font-size: 10px;
}
.newheading span{
    color: #fff;
}
.newimages>div{
    z-index: 1;
}
.newimages img{
    vertical-align: middle;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}
.roomSelect{
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    color: #fffc00;
    font-size: 15px;
    top: 85%;
    left: 35%;
    background: rgb(12, 48, 53);
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    padding: 24px 15px;
    font-family: sans-serif;
}
.modal-dialog {
    position: absolute;
    right: 19%;
    top: 15%;
    transform: translate(-25%, -19%);
}
.avsystem_selecttext h2{
    font-size: 3.5vw;
    top: 322px;
    letter-spacing: 12px;
    z-index: 2;
    color: #00b6ca;
    position: relative;
    text-shadow: 10px 10px 30px black;
}
/* **************************************************************************************************** */
/* **************************************************************************************************** */
h2.select_for_avsystem {
    font-weight: 300;
    position: absolute;
    left: -4%;
    top: 465px;
    font-size: 6vw;
    letter-spacing: 28px;
    z-index: 3;
    color: rgba(77, 77, 77, 0.5);
}
.bronze_bg_bottom{
    background-image: url(../images/bronze-metal_1.jpg);
}
.silver_bg_bottom{
    background-image: url(../images/silver-metal_1.png);
}
.gold_bg_bottom{
    background-image: url(../images/gold-metal_1.jpg);
}
.gold_bg_bottom , .bronze_bg_bottom , .silver_bg_bottom {
    text-align: center;
    background-size: 98% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.bronze_select{
    background-image: url(../images/bronze_select.png);
}
.silver_select{
    background-image: url(../images/silver_select.png);
}
.gold_select{
    background-image: url(../images/gold_select.png);
}
.bronze_select, .gold_select, .silver_select{
    height:50px;
    width:50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    top:-20px;
    left:50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1;
}
.bronze_bg{
    background-image: url(../images/bronze-metal_1.jpg);
}
.silver_bg{
    background-image: url(../images/silver-metal_1.png);
}
.gold_bg{
    background-image: url(../images/gold-metal_1.jpg);
}
.gold_bg , .bronze_bg , .silver_bg {
    text-align: center;
    background-size: 98% 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
}
.gold_bg:hover , .bronze_bg:hover, .silver_bg:hover{
    height: 73px;
    text-align: center;
    background-size: 98% 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-top: -23px;
}
.gold_bg h4, .bronze_bg h4, .silver_bg h4{
    display: none;
    color: #ececec;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
}
.gold_bg:hover h4, .bronze_bg:hover h4, .silver_bg:hover h4{
    display:inline;
}
.gold_bg p, .bronze_bg p, .silver_bg p{
    line-height: 50px;
    color: #ececec;
    letter-spacing: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    transform : scale(1, .9);
}
.avsystem_data_row{
    color: #a7a7a7;
    font-family : "Effra-Regular";
    font-size: 12px;
    margin-top: 5px;
}
.avsystem_data_firstcol{
    text-align: right;
    color: yellow;
}
.avsystem-margin-bottom .row{
    margin-bottom: 10px;
}
/* **************************************************************************************************** */
/* **************************************************************************************************** */
h2.select_for_designtheme {
    font-weight: 300;
    position: absolute;
    left: -4%;
    top: 452px;
    font-size: 6vw;
    letter-spacing: 20px;
    z-index: 3;
    color: rgba(77, 77, 77, 0.5);
}
.bottom_extra {
    color : #199bbe;
    letter-spacing: 4px;
    font-size: 17px;
    transform: scale(1,.9);
    text-transform: uppercase;
    top:145px;
    position: absolute;
}
.design_heading{
    color: #cecebf;
    background: #17343c;
    padding: 5px 8px;
    text-align: center;
    font-size: 12px;
}
.themeSelect{
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    color: rgb(234, 232, 55);
    font-size: 15px;
    top: 80%;
    left: 84%;
    background: rgb(1, 33, 37);
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    padding: 24px 15px;
    font-family: sans-serif;
}
.themeheading {
    color: #ffffff;
    background: #17343c;
    font-family: 'Effra-Regular';
    padding: 2px 18px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
}
.themeheading span{
    color: rgb(190, 178, 178);
    font-size: 10px;
    font-family: 'Effra-Regular';
    text-align: left
}
.sub_image img{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom:60px;
    left: 10px;
}
.sub_image p{
    position: relative;
    bottom: 0px;
    left: 10px;
    color: rgb(255, 249, 249);
    font-size: 13px;
}
#images_container{
    position:relative;
}
#outer_image{
    position: relative;
}
#xyz{
    position: absolute;
    top: 74%;
    left: 10px; 
    color: rgb(190, 178, 178);
}
#gold_image{
    position: absolute;
    top: 1%;
    left : 0;
    color: rgb(190, 178, 178);
}
#xyz>img{
    width: 60px;
    height: 60px;
}
/* **************************************************************************************************** */
/* **************************************************************************************************** */
.image h4.single_room_type {
    color: #fffc00;
    background: #1e4854;
    padding: 10px 8px;
    text-align: center;
    font-size: 25px;
    width: 80%;
}
.single_image h4.single_room_type {
    color: #fffc00;
    background: #1e4854;
    padding: 10px 8px;
    text-align: center;
    font-size: 25px;
    width: 80%;
}
.image h4 span{
    color: #fff;
}
.image img {
    width: 100%;
    cursor: pointer;
}
.single_image img {
    width: 75%;
    cursor: pointer;
}
.room_size {
    color: #fff;
}
.wrapper_page_3 .bottom_strips {
    padding: 40px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}
.wrapper_page_3 .bottom_strips .bottom_strip_left span {
    width: 50px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.wrapper_page_3 .bottom_strips .bottom_strip_left span img{
	width: 25px;
}
.wrapper_page_3 .bottom_strips .heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 11px;
    text-align: center;
}
.wrapper_page_3 .bottom_strips .heading img{
    max-width: 137px;
    margin-left: 15px;
    max-height: 29px;
}
/* 
Index 3 Style
*/
.room_size_single {
    color: #d1c9c9;
}
.room_size_single .top_text {
    box-sizing: border-box;
    padding-top: 100%;
    background-color: rgba(1, 59, 71, 0.5);
    border-radius: 50%;
    position: relative;
    top: -50px;
  
}
.room_size_single .bottom_text {
    box-sizing: border-box;
    padding: 30px 0;
}
.room_size_single .bottom_text h2 {
    font-size: 3.13vw;
    font-weight: 300;
    letter-spacing: 12px;
    z-index: 2;
    top: 300px;
    color: #0979a8;
    position: relative;
}
/* 
Index 4 Style
*/
h3.select.image_two img {
    width: 34%;
    font-weight: 300;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 0;
}
.room_size_single .top_text .circle_two {
    box-sizing: border-box;
    padding-top: 100%;
    background-color: rgba(1, 59, 71, 0.5);
    border-radius: 50%;
    position: relative;
    top: -50px;
    right: -150px;
    display: none;
}
/* 
Index 5 Style
*/
.room_size_single .top_text_bronze {
    box-sizing: border-box;
    padding-top: 100%;
    background-color: rgba(34, 26, 25, 1);
    border-radius: 50%;
    position: relative;
    top: -50px;
    left: 44px;
}
.room_size_single .top_text_bronze h3 {
    color: #fff;
    letter-spacing: 10px;
    font-size: 36px;
}
.room_size_single .top_text_bronze>p {
    top: 70px;
    color: #8a8c8f;
    padding: 70px 0;
    letter-spacing: 1px;
    left: 54%;
    transform: translateX(-50%);
}
.room_size_single .top_text_bronze .select_div {
    position: absolute;
    color: #eae837;
    font-size: 17px;
    top: 0px;
    left: 74%;
    background: rgb(12, 48, 53);
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    padding: 29px 15px;
    font-family: sans-serif;
    border-radius: 50%;
}
.room_size_single .top_text_bronze .select_div>p {
    text-transform: uppercase;
    font-size: 14px;
    font-family: sans-serif;
}
.padding_top h3.select .notice {
    position: absolute;
    color: #8a8c8f;
    bottom: 0;
    left: 420px;
    background: rgba(24, 20, 19, 0.5);
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    padding: 35px 25px;
    border-radius: 50%;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
}
/* 
Index 8 style
 */
.design_theme_image img {
    width: 95%;
    border-bottom: 5px solid #205b66;
    cursor: pointer;
}
.design_theme_image h4 {
    width: 95%;
    color: #fff;
    background: #205b66;
    padding: 5px 6px;
    text-align: center;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    margin-top: 20px;
}
/* 
Index 9 style
 */
.wrapper_page_design {
    position: relative;
    height: 100%; 
    background-image: url(../images/img7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
}
.wrapper_page_design .bottom_strips {
    padding: 40px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.wrapper_page_design .bottom_strips .bottom_strip_left span {
    width: 50px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.wrapper_page_design .bottom_strips .bottom_strip_left span img{
	width: 25px;
}
.wrapper_page_design .bottom_strips .heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 11px;
    text-align: center;
}
.wrapper_page_design .bottom_strips .heading img{
    max-width: 137px;
    max-height: 29px;
    margin-left: 15px;
}
.padding_top h3.select .notice_design {
    position: absolute;
    color: #d1c9c9;
    bottom: 0px;
    left: 400px;
    background: rgba(45, 95, 106, 0.5);
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    padding: 30px 15px;
    border-radius: 50%;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    z-index: 5;
}
.notice_circular{
    position: absolute;
    color: #e1c3c3;
    bottom: -58px;
    left: 454px;
    background: rgba(22, 75, 87, 0.5);
    width: 130px;
    height: 130px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 15px;
    border-radius: 50%;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    z-index: 9;
}
.room_size_single .top_text_design {
    box-sizing: border-box;
    padding-top: 100%;
    background-color: rgba(1, 59, 71, 0.5);
    border-radius: 50%;
    position: relative;
    top: -50px;
}
.room_size_single .top_text_design h3,
.room_size_single .top_text_design>p {
    text-align: center;
}
.select_design_title{
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;;
}
.room_size_single .top_text_design h3 {
    letter-spacing: 4px;
    width: 100%;
    color: white;
    z-index: 2;
    text-transform: uppercase;
}

.room_size_single .top_text_design > p {
    top: 80px;
    letter-spacing: 1px;
    color: gray;
    z-index: 2;
}

.room_size_single .top_text_design .select_div {
    position: absolute;
    color: #eae837;
    font-size: 14px;
    top: -11px;
    left: 74%;
    background: rgb(6, 65, 78);
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    padding: 29px 11px;
    border-radius: 50%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.room_size_single .top_text_design .select_div>p{
    position: absolute;
    font-family: sans-serif;
}
.av_system_design_img{
	width: 100%;
	position: relative;
	padding-top: 59%;
	margin-bottom: 20px;
}
.av_system_design_img img {
    width: 100%;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.av_system_design img{
	width: 100%;
}
/*
index 13 style 
*/
.av_system_design_img .by {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 26px;
    left: 10px;
}
.av_system_design_img .by p {
    position: relative;
    width: 200px;
    bottom: -42px;
    color: rgb(202, 190, 190);
    font-size: 14px;
}
/* **************************************************************************************************** */
/* **************************************************************************************************** */
div.seat_image {
    position : relative;
    z-index: 2;
    background: rgba(39, 91, 94, 0.288);
    width: 200px;
    height: 240px;
    text-align: center;
    margin: 10px 0;
    float:left;
    left:50%;
    transform: translateX(-50%);
}
div.seat_image img{
    width: 50%;
    margin: 40px 0px 0 0;
    position: relative;
}
div.seat_image p{
    position : absolute;
    left : -125px;
    width : 110px;
    text-align: right;
    color: rgb(206, 194, 194);
    transform: scale(1, .8);
    font-size: 18px;
    letter-spacing: 4px;
    bottom : 0px;
}
.seat_color_feature {
    position: relative;
    z-index: 1;
    background: rgba(107, 94, 69, 0.349);
    width: 260px;
    height: 260px;
    border-radius: 50%;
    float:right;
}
ul.seat_color_listing {
    width: 67%;
    position: absolute;
    top: 50%;
    left: 60%;
    font-family: 'Effra-Regular';
    transform: translate(-50%, -50%);
    color: #cfc7c7;
    opacity: initial;
}
ul.seat_color_listing li{
    padding-bottom: 5px;
}
.reset_class {
    position: absolute;
    top: 80%;
    left: 70%;
    width: 100px;
    height: 100px;
    background: rgba(26, 84, 92, 0.322);
    border-radius: 50%;
    text-align: center;
    border: 1px solid rgb(35, 139, 165);
    cursor: pointer;
    color: rgb(234, 232, 55);
    letter-spacing: 1px;
}
.reset_class p {
    position: absolute;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 31px;
    padding-bottom: 31px;
}
.seat_headings {
    position: relative;
    color : #fffc00;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: scale(1, .8);
    letter-spacing: 3px;
}
.seat_footers {
    position: relative;
    color : #c0c0bd;
    font-size: 12px;
    font-family: 'Effra-Regular';
    letter-spacing: 1px;
    text-align: right;
}
h3.seat_current_name {
    color : #fffc00;
    background: #06323a;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 4px 4px;
    width: 130px;
    margin: 0 auto;
    transform: scale(1, .9);
}
h3.seat_current_cost {
    color : #b9b9ae;
    font-family: 'Effra-Regular';
    font-size: 11px;
    letter-spacing: 1px;
    padding: 2px 0;
    width: 200px;
    margin: 5px 0;
}
.selecttext_seat {
    font-weight: 300;
    position: absolute;
    font-size: 6vw;
    letter-spacing: 20px;
    z-index: 0;
    color: rgba(77, 77, 77, 0.5);
    transform: scale(1, .8);
    left:5%;
    top:-100%;
}
.selecttext2_seat {
    font-weight: 300;
    position: absolute;
    top:-175%;
    left:10%;
    font-size: 3vw;
    letter-spacing: 15px;
    z-index: 3;
    color: rgba(34, 172, 226, 0.863);
    transform: scale(1, .8);
    width:30%;
}
.seatSelect{
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    color: rgb(234, 232, 55);
    font-size: 11px;
    background: rgba(43, 101, 107, 0.322); 
    border: 1px solid rgb(35, 139, 165);
    width: 60px;
    height: 60px;
    letter-spacing: 1px;
    box-sizing: border-box;
    padding: 22px 3px;
    font-family: sans-serif;
    top:7px;
    right:7px;
    float:right;
    z-index: 3;
}
/* **************************************************************************************************** */
/* **************************************************************************************************** */
.thankyou_modal{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:25%;
    width:400px;
    height:300px;
    background: rgba(6, 65, 78, 0.9);
    z-index: 99999999;
    color: yellow;
    text-align: center;
    border:1px solid #06323a;
    border-radius: 2px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }
.thankyou_modal p{
    line-height: 130px;
    font-family: "Effra-Regular";
    font-size: 120px; 
}
.head_line h2 {
    width: 80%;
    font-size: 40px;
    font-weight: normal;
    position: relative;
    line-height: 1.2;
    letter-spacing: 8px;
    color: #1d758bf2;
    text-shadow: 7px 9px 14px #222;
    z-index: 2;
    padding-bottom: 20px;
}
.head_line h3 {
    position: absolute;
    color: rgba(104, 104, 104, 0.5);
    left: 0;
    bottom: 60px;
    font-size: 7vw;
    letter-spacing: 30px;
    font-weight: 300;
    z-index: 1;
    display: none;
}
.total_checkout{
	position: relative;
	top: 0px;
}
.tamplate {
    background: rgba(21, 117, 144, 0.247);
    box-sizing: border-box;
    padding: 10px 10px;
    text-align: center;
}
.tamplate .title {
    font-size: 16px;
    color: #ece800;
    padding-bottom: 15px;
    letter-spacing: 3px;
    transform: scale(1, .8);
    text-transform: uppercase;
}
.tamplate .count {
    font-size: 25px;
    color: yellow;
}
.tamplate .img {
    width: 100%;
    position: relative;
}
.tamplate .img img{
	width: 50%;
}
img.final_section_chair {
    width: 20% !important;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
 }
 .total_heading {
    background: #eae837;
    padding: 1px;
    text-align: center;
}
.total_heading h4 {
    color: rgb(14, 43, 51);
    font-size: 16px;
    letter-spacing: 2px;
    transform: scale(1, .8);
}
.total {
    background: rgba(21, 118, 144, 0.5);
    padding: 2px;
    text-align: center;
}
.total h4 {
    color: #eae837;
    font-size: 16px;
    letter-spacing: 2px;
    transform: scale(1, .8);
}
.total h4 span{
    color: rgb(240, 232, 232);
    font-size: 16px;
    letter-spacing: 2px;
    transform: scale(1, .8);
}
.total .circle_total {
    width: 120px;
    height: 120px;
    background: rgba(4, 67, 88, 0.945);
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: -10px;
    z-index: 999999999;
    cursor: pointer;
    text-align: center;
    color: #eae837;
    padding : 30px 5px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
}
.disclaimer{
    padding-top:10px;
    text-align: left;
    color : #c0c0bd;
    font-size: 12px;
    font-family: 'Effra-Regular';
    letter-spacing: 1px;
}
/* **************************************************************************************************** */
/* **************************************************************************************************** */
.head_line_last{
    width: 50%;
    position: absolute;
}
.head_line_last h3{
    color: rgba(78, 78, 78, 0.5);
    position: relative;
    left: -100px;
    bottom: 0px;
    font-size: 6vw;
    letter-spacing: 30px;
    font-weight: 300;
    z-index: 0;
    transform: scale(1, .8);
    margin-top:10px;
}
.customer_info_heading{
	text-align: center;
}
.customer_info_heading h4 {
    font-size: 35px;
    padding-top: 40px;
    color: #1ca6be;
    letter-spacing: 12px;
    transform: scale(1, .8);
}
.checkbox ul li {
    width: 16%;
    display: inline-block;
    padding-top: 20px;
    list-style: none;
    color: rgb(218, 214, 214);
}
.borderDiv{
    margin-top: 5px;
    border : 1px solid rgba(31, 103, 136, 0.384);
    height : 70px; width:100%;
    position: relative;
    left: 50%;
    transform : translateX(-50%);
    z-index:0;
    margin-bottom: 10px;
}
.innerDiv{
    height:30px;
    width:600px;
    background-color: rgb(3, 62, 66);
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:-15px;
    z-index: 33333333333;
    text-align: center;
}
.innerDiv>p{
    line-height: 30px;
    transform: scale(1, .9);
    color: yellow;
    letter-spacing: 4px;
}
.row.customer_form_border {
    border: 1px solid #18a6c23b;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 35px;
}
.customer_form {
    box-sizing: border-box;
    padding: 10px 10px;
}
.customer_form p input {
    display: block;
    width: 100%;
    padding: 5px;
    background: transparent;
    border: none;
    color: rgb(255, 255, 255);
}
.customer_form p input:nth-child(even) {
    background: rgba(13, 100, 116, 0.5);
    border: none;
}
p.singleFieldStyle input {
    transform: scale(1, .8);
    letter-spacing: 2px;
}
.c_head {
    background: #eae837;
    padding: 5px;
    font-size: 18px;
    color: rgb(12, 59, 73);
    transform: scale(1, .9);
}
.submit_form_button {
    position: absolute;
    left: 50%;
    bottom: -20px;
    z-index: 50;
    transform: translateX(-50%);
}
.submit_form_button button {
    height: 100px;
    width: 100px;
    background: #126a7e;
    color: yellow;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 5px;
}
.submit_form_button button p{
    transform: scale(1,.9);
}
/* **************************************************************************************************** */
/* **************************************************************************************************** */
.wrapper_page_3 .container{
    height: 100vh;
}
.wrapper_page_design .container{
    height: 100vh;
}
.size {
    position: absolute;
    top: 75%;
    left: 38%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 11px;
}
.loder {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0%, 0%, 0.87);
    z-index: 99999999;
}

.loder h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: #fff;
}
.loder h2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}
.hidden {
   display: none;
}
.designLoader {
    width: 35% !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none !important;
}
.select_chair {
    background: #06323a;
    color: rgb(207, 204, 0);
    position: absolute;
    bottom: -90px;
    right: -12px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 22px;
    cursor: pointer;
}
/* **************************************************************************************************** */
/* **************************************************************************************************** */
.wrapper_3d{
    position: relative;
    height: 100vh;
    background-image:url(../images/rayva_newpage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
}
.position_relative {
    position: relative;
}
.ravya_3d_tag_line {
    position: absolute;
    text-align: center;
    top: 145px;
    left: -138px;
    font-size: 70px;
    z-index: 22;
}
.ravya_3d_tag_line p {
    position: relative;
    color: rgba(30, 208, 228, 0.7);
    letter-spacing: 12px;
    transform: scale(1, .8);
    text-shadow: 12px 20px 25px rgba(0, 0, 0, 0.5);
}
.circle_with_content{
    width: 400px;
    background: rgb(16, 90, 105);
    height: 400px;
    border-radius: 50%;
    position: absolute;
    left: -40px;
    top: 160px;
    z-index: 1;
}
.circle_with_content h2 {
    font-size: 85px;
    text-align: center;
    color: rgba(36, 152, 160, 0.466);
    transform: scale(1, .8);
}
.circle_with_content p {
    font-family: 'Effra-Regular';
    text-align: center;
    font-size: 16px;
    padding: 0 30px;
    z-index: 2;
}
.circle_with_content p span {
    display: block;
    padding: 0 10px auto;
    color: rgb(245, 245, 245);
    z-index: 2;
}
.circle_transparent {
    width: 200px;
    height: 200px;
    background: rgba(1, 59, 71, 0.5);
    border-radius: 50%;
    position: absolute;
    left: -200px;
    display: hidden;
    bottom:0;
}
.wrapper_3d .bottom_strips {
    padding: 40px 0;
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 0;
}
.bottom_strips .bottom_strip_left span {
    width: 50px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.bottom_strips .bottom_strip_left span img{
    width: 25px;
}
.select_3d {
    position: absolute;
    width: 70px;
    height: 70px;
    background: rgb(0, 129, 140);
    border-radius: 50%;
    padding: 24px 13px;

    bottom: 0;
    right: 45px;
    font-size: 15px;
    cursor: pointer;
}
.vrLink{
    margin-right: 5px;
    color: black;
    box-sizing: border-box;
    border: 0px solid black;
    border-bottom: 1px solid gray;
    background-color: transparent;
    width: 100px;   
}
.sendAnchor:hover{
    text-decoration: underline;
    color:rgb(87, 216, 255);
}
/* **************************************************************************************************** */
/* **************************************************************************************************** */